body {
    overflow-x: scroll;
    margin: 0; /* Remove default margin */
    padding: 0;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    background-image: url('https://wallpaperaccess.com/full/254381.jpg');
    background-size: cover; /* Scale image to cover entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent tiling */
    background-attachment: fixed; /* Keep image fixed during scroll */
    font-family: Arial, sans-serif;
    color: black;
}
nav {
    display: flex;
    justify-content: start;
    padding-inline-start: 30px;
    align-items: center;
    width: 100%;
    height:75px;
    background-color: rgb(0, 0, 0, 0.75);
    color:#fff;        
    position: fixed;
    top: 0;
    z-index: 1;
}
nav ul {
    display: flex;    
    align-items: center;
    flex-wrap: wrap;    
    list-style: none;
    color: #fff;     
}
nav li a {    
    text-decoration: none;       
    padding-inline: 1.5rem;
    color: #fff;        
}
nav li a:hover {
    cursor: pointer;
    color: #21c1f1;    
}
.logo {         
    float: left;
    padding-right: 25rem;
}
form div {    
    width: max-content;
    margin-left: 30rem;
    padding: 10px;
    border-radius: 19px;
    background: #f6f6f6;
}
.search input {
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 16px;
    color: #168baf;
    flex: 1;
}
.search button {
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    border-radius: 6px;
    background-color: #168baf;    
}
.search button:hover {
    padding: 15px;
    font-size: 17px;
    color:#ffffff11;
    background-color: #0b556b;
    cursor: pointer;
}
main {
    margin: 80px;
}
